body {
   background: url(../images/background-patern.png) top left repeat;
   font-family: 'Roboto Condensed', sans-serif;
   padding: 0;
   margin: 0;
}
footer {
  position: relative;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.container {
  width: 90%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .container {
    width: 95%;
    padding-top: 10%;
  }
  .col {
    padding: 0 .4%;
  }
  .row .col:first-child {
    margin-left: 0;
  }

  .span-1 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 739px) {
  .col {
    padding: 0 .3%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span-1 {
    width: 50.0%;
  }
  .span-2 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1099px) {
  .col {
    padding: 0 .2%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span-1 {
    width: 33.3%;
  }
  .span-2 {
    width: 66.6%;
  }
  .span-3 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1519px) {
  .col {
    padding: 0 0.2%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span-1 {
    width: 25%;
  }
  .span-2 {
    width: 50%;
  }
  .span-3 {
    width: 75%;
  }
  .span-4 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1520px) {
  .col {
    padding: 0 0.2%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span-1 {
    width: 20%;
  }
  .span-2 {
    width: 40%;
  }
  .span-3 {
    width: 60%;
  }
  .span-4 {
    width: 80%;
  }
  .span-5 {
    margin-left: 0;
    width: 100%;
  }
}
