body {
  background: #011638;
}
.container {
  z-index: 20;
  margin-top: 35px;
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  -moz-transition: -moz-transform .25s ease-in-out;
}

.opening-menu .container {
  transform: translate3d(100px, 0, 0);
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
}

#menu.opening {
  display: block;
}
/* ======= Navbar CSS ======= */

.navbar-fixed-top-custom {
  background: #011638;
  min-height: 28px !important;
  border-bottom: 2px solid #dff8eb;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.navbar-fixed-top-custom .c-hamburger {
  height: 28px;
  width: 28px;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: inherit;
  height: auto;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 12px;
  left: 3px;
  right: 3px;
  height: 3px;
  background: #dff8eb;
}
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dff8eb;
  content: "";
}
.c-hamburger span::before {
  top: -6px;
}
.c-hamburger span::after {
  bottom: -6px;
}
.c-hamburger--htla {
  background-color: #011638;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #18903c;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before, .c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(38px) translateY(4px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}

/* ========================== */


/* ====== MENU ====== */

#menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 10px;
  width: 75px;
  padding: 0 0.5em;
  margin-right: 15px;
  margin-top: 28px;
  list-style: none;
  z-index: 10;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  border-right: 2px solid #dff8eb;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
#menu li {
  border-bottom: 2px solid #dff8eb;
}
#menu li:first-child {
  border-top: 2px solid #dff8eb;
}
#menu a {
  display: block;
  padding: 10px 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  font-size: 15px;
  color: #dff8eb;
}
#menu a:hover {
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  color: #dff8eb;
}

/* ============================== */


/* ===== Youtube Video ====== */

#video-container {
  position: relative;
  margin: 10px 0;
}
#hot-video-nav {
  padding: 0px;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 30px;
  list-style: none;
}
#hot-video-nav li {
  float: left;
  width: 25%;
  height: inherit;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
#hot-video-nav li.current {
  border-left: 1px solid #dff8eb;
  border-right: 1px solid #dff8eb;
  border-top: 1px solid #dff8eb;
}
#hot-video-nav li object {
  padding: 0.4em 1em;
  width: auto;
  height: inherit;
}
#hot-video-nav li object:hover {
  color: #5c7cba;
}
.hot-video {
  position: relative;
  border: 1px solid #dff8eb;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.hot-video .video-title {
  color: #dff8eb;
  height: 25px;
}
.hot-video .video-content {}
/* ========================== */


/* ====== Lastest News ====== */
.news {
  font-size: 1.2rem;
  margin: 1em 0;
  color: #dff8eb;
}
.news-title {
  padding: 5px;
  text-align: justify;
}
.news-image {
  position: relative;
  max-width: 50%;
  padding: 5px;
  height: auto;
}

.swiper-pagination-bullet {
  background: #dff8eb;
}
/* ========================== */


/* ========= Footer ========= */

footer {
  border-top: 1px dashed #dff8eb;
  color: #dff8eb;
  margin-top: 15px;
}

/* ========================== */


/* ====== Media Queries ===== */

@media only screen and (min-width: 500px) {
  .navbar-fixed-top-custom {
    min-height: 34px !important;
  }
  .navbar-fixed-top-custom .c-hamburger {
    height: 34px;
    width: 34px;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-fixed-top-custom {
    min-height: 40px !important;
  }
  .navbar-fixed-top-custom .c-hamburger {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 1500px) {
  .navbar-fixed-top-custom {
    min-height: 46px !important;
  }
  .navbar-fixed-top-custom .c-hamburger {
    height: 46px;
    width: 46px;
  }
}

/* ========================== */
.container-header {
  border-bottom: 1px solid #dff8eb;
  margin-right: 50%;
}
.container-header object {
  padding: 0;
  height: 35px;
  width: auto;
  display: inline-block;
}
.container-header p {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  color: #dff8eb;
}

/*.more a {
  display: block;
  margin: auto;
  text-align: center;
  padding: 0.1em;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  width: 120px;
  font-weight: 600;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}*/
