.news {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  background: #ffffff;
  border: 1px solid black;
  display: block;
  overflow: hidden;
  margin: 1% 0;
  border-radius: 3px;
  -webkit-box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
}
.news-title {
  padding: 5px;
  font-size: 20px;
  text-align: justify;
  color: black;
  font-weight: 400;
}
.news-image {
  margin: 0;
  padding: 0;
  /*position: relative;*/
}
.news-description {
  padding: 5px;
  text-align: justify;
  padding: 5px 3px 5px;
  font-size: 15px;
  line-height: 16px;
}

.news-info {
  padding: 5px;
  font-size: 13px;
  color: black;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .news-description {
     display: none;
   }
   .news-image {
     float: left;
     padding-right: 10px;
     clear: both;
     width: 30%;
   }
   .news-image img {
     display: block;
   }
   .news-info {
     position: absolute;
	   bottom: 0px;
     right: 0px;
     font-size: 10px;
     padding: 0 5px 0 0;
   }
   @media screen and (min-width: 0px) and (max-width: 320px) {
     .news-title {
       font-size: 10px;
     }
   }
   @media screen and (min-width: 321px) and (max-width: 479px) {
     .news-title {
       font-size: 15px;
     }
   }
}
@media screen and (min-width: 480px) and (max-width: 739px) {}
@media screen and (min-width: 740px) and (max-width: 1099px) {}
@media screen and (min-width: 1100px) and (max-width: 1519px) {}
@media screen and (min-width: 1520px) {}
