.opening-menu .container {
  transform: translate3d(100px, 0, 0);
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
}
#menu.opening {
  display: block;
}

.c-hamburger {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: inherit;
  height: auto;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 12px;
  left: 3px;
  right: 3px;
  height: 3px;
  background: #dff8eb;
}
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dff8eb;
  content: "";
}
.c-hamburger span::before {
  top: -6px;
}
.c-hamburger span::after {
  bottom: -6px;
}
.c-hamburger--htla {
  background-color: #011638;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #18903c;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before, .c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(38px) translateY(4px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}
#menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 10px;
  width: 75px;
  padding: 0 0.5em;
  margin-right: 15px;
  margin-top: 28px;
  list-style: none;
  z-index: 10;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  border-right: 2px solid #dff8eb;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
#menu li {
  border-bottom: 2px solid #dff8eb;
}
#menu li:first-child {
  border-top: 2px solid #dff8eb;
}
#menu a {
  display: block;
  padding: 10px 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  font-size: 15px;
  color: #dff8eb;
}
#menu a:hover {
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  color: #dff8eb;
}
