.player-container {
  width: 50%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  border: 1px solid #fca311;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3), inset 0 1px 0px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3), inset 0 1px 0px rgba(255, 255, 255, .2);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, .3), inset 0 1px 0px rgba(255, 255, 255, .2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.radio-title {
  font-size: 15px;
  font-weight: 400;
}
.cover {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 15%;
}
.cover img {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 3px #fca311;
  -moz-box-shadow: inset 0px 3px 3px #fca311;
  box-shadow: inset 0px 3px 3px #fca311;
}
.player {
  width: 50%;
  margin: 0 auto;
}
