body {
  font-family: 'Roboto Condensed', sans-serif;
}
td a {
  display: inline-block;
}

.wrapper {
  width: 50%;
  margin: 0 auto;

}
.menu-item {
  text-align: center;
  border: 1px solid #5bc0eb;
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 5px;
}

.side-menu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 15%;
  left: 0;
  width: 200px;
}
