.video {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  background: #ffffff;
  border: 1px solid black;
  display: block;
  overflow: hidden;
  margin: 1% 0;
  border-radius: 3px;
  -webkit-box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 23px -6px rgba(0, 0, 0, 0.75);
}
.video-container-bg {
  border: 1px solid black;
  position: fixed;
  margin-bottom: 10px;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
.video-container {
  position: relative;
  width: 50%;
  margin: .2% auto;
}
.video-player {
  position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}
.video-player iframe{
	position:absolute;
	left:0;
	width:100%;
	height:100%;
}

.video-title {
  padding: 5px;
  font-size: 20px;
  text-align: justify;
  color: black;
  font-weight: 400;
}

.video-info {
  padding: 5px;
  font-size: 13px;
  color: black;
}

.swiper-container {
  overflow: hidden;
  position: fixed;
  z-index: 20;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 3px;
}
.swiper-wrapper {
  list-style: none;
  cursor: pointer;
}

.swiper-slide {
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
	width: auto;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.swiper-slide a {
	text-decoration: none;
	color:#ff6f59;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .swiper-slide {
    font-size: 13px;
    padding: 5px 10px;
  }
  .video-container {
    width: 100%;
  }
  .video-title {
    font-size: 12px;
  }
  .video-info {
    font-size: 10px;
  }
  .span-1 {
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 739px) {}
@media screen and (min-width: 740px) and (max-width: 1099px) {}
@media screen and (min-width: 1100px) and (max-width: 1519px) {}
@media screen and (min-width: 1520px) {}
